.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: white;
  background: black;
  cursor: pointer;
}
.disabled {
  opacity: 0.2;
}
.btn-plan-now {
  button {
    @extend .btn;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 24px;
    margin-top: 25px;
  }
}
.btn-explore-now {
  button {
    @extend .btn;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
  }
}
