.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #7545ff;
  .header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    .header-item {
      @include flex-all-center;
      text-align: center;
      gap: 10px;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      cursor: pointer;
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
  .logo {
    img {
      width: 170px;
      height: 45px;
    }
  }
  .header-actions {
    display: flex;
    gap: 70px;
    .ask {
      @include flex-all-center;
      gap: 6px;
      padding: 12px 24px;
      text-align: center;
      border: none;
      border-radius: 10px;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: #334d5e;
      background: white;
      cursor: pointer;
      img {
        height: 24px;
        width: 24px;
      }
    }
    .profile {
      @include flex-all-center;
      gap: 8px;
      text-align: center;
      color: white;
      cursor: pointer;
      img {
        height: 32px;
        width: 32px;
      }
    }
  }
  @include mobile {
    width: 100%;
    @include flex-all-center;
    background: #7545ff;
    .header-items {
      display: none;
    }
    .logo {
      img {
        width: 170px;
        height: 45px;
      }
    }
    .header-actions {
      display: none;
    }
  }
}
