.post-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: white;
  .tag {
    @include flex-all-center;
    padding: 12px 16px;
    border: 1px solid #eaecf0;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    background: #f8fafc;
    color: #334d5e;
  }
  .title {
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    color: #334d5e;
  }
  .user {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
    .user-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 23px;
      color: #334d5e;
    }
    .user-info {
      display: flex;
      justify-content: center;
      gap: 7px;
      .user-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 7px;
        border: 1px solid #334d5eb2;
        border-radius: 2px;
        font-size: 11px;
        font-weight: 600;
        color: #334d5eb2;
      }
      .user-tier {
        font-size: 11px;
        font-weight: 400;
        line-height: 17px;
        color: #334d5e;
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #334d5e;
  }
  img {
    width: 682px;
    height: 486px;
  }
}
