@mixin mobile {
  //mixin for mobile media query
  @media (max-width: 799px) {
    @content;
  }
}
@mixin flex-all-center {
  //mixin for flex center row
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-column-all-center {
  //mixin for flex center column
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
